<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Feed - Imediagram</title>
</head>
<body>
    {% include 'navbar.html' %}
    <div class="container">
        <h1>Feed</h1>
        <p>Veja as fotos mais recentes no feed.</p>
        <ul class="feed-list">
            {% for foto in fotos %}
                <li class="feed-item">
                    <img src="{{ url_for('static', filename='fotos_posts/' + foto.imagem) }}" alt="Foto">
                    <p>Postado por {{ foto.usuario.username }}</p>
                </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
